@page
@model WebApp.Pages.Beers.Pages_Beers_Search
@{
    ViewData["Title"] = "Szukaj";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </script>

</div>

<form method="post">
    <label for="id">Wyszukaj piwo po Id:</label>
    <input type="text" id="id" name="id" required>
    <button type="submit">Szukaj</button>
</form>